
<nav class="navbar navbar-expand-sm navbar-danger bg-info">
    <div class="container">
    <a class="navbar-brand" href="/">TDH education</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="dropdown">
          <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown">
            <img src="https://nguoinoitieng.tv/images/nnt/96/0/bbi0.jpg" alt="" class="user-avatar">
               Hiếu Trần
          </button>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/courses/create">Đăng kí khóa học</a></li>
            <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
           <li><a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a></li>
  </ul>
</div>
    </div>
</nav>
